.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .age {
    display: none;
    align-items: flex-start;
    user-select: none;
    .age__main {
      font-size: 60px;
      line-height: 1;
    }
    .age__extra {
      font-size: 30px;
      width: max-content;
      min-width: 180px;
      margin-top: -8px;
    }
  }
}
