/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html,
* {
  font-family: 'Montserrat', sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: max-content;
}
