.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;

  .title {
    text-align: center;
  }

  .birthday {
    .birthday__time {
      width: 100%;
    }
    .birthday__date {
      width: 100%;
    }
  }
}
