/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html,
* {
  font-family: inherit;
  color: inherit;
  background: inherit;
}

body {
  color: #24292e;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

.dark {
  color: #adbac7;
  background: #22272e;
}
