/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html,
* {
  font-family: inherit;
  color: inherit;
  background: inherit;
}

body {
  color: #222;
  background: #f8f8ff;
  font-family: 'Montserrat', sans-serif;
}
